html{
	-webkit-font-smoothing: antialiased;
}

body{
	font-family: 'museo_sans300', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.content{
	max-width: 720px;
	margin: 0 auto;
}

.main-header{
	text-align: center;
	text-transform: uppercase;
	font-family: 'museo_sans100', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 40px;
}

ul{
	list-style-type: none;
	padding: 0;
}

.post{
	margin-bottom: 70px;
}

.user{
	font-size: 18px;
	font-weight: bold;
	position: relative;
	bottom: -10px;
	font-size: 30px;
}

.text{
	position: relative;
	background:rgba(177, 173, 230, 0.4);
	padding: 30px;
}

.text:before, .text:after{
	content: "\"";
	color: rgba(177, 173, 230, 0.6);
	position: absolute;
	font-weight: bold;
	font-weight: bold;
	font-size: 100px;
	font-family: 'museo_sans100', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: italic;
}

.text:before{
	top: -20px;
	left: -45px;
}

.text:after{
	bottom: -85px;
	right: -30px;
}

.likes{
	color: rgba(177, 173, 230, 1);
	font-weight: bold;
	padding: 0px 30px;
}

.comments{
	margin-top: 20px;
	padding: 0px 30px;
}

.comments li {
	margin-bottom: 15px;
}

.commenter-name{
	font-weight: bold;
}

.like-user {
	margin-right: 3px;
	font-size: 14px;
	font-weight: normal;
}

.like-user:first-of-type {
	margin-left: 12px;
	display: inline-block;
}

.like-user:after {
	content: ",";
}

.like-user:last-of-type:after{
	content: none;
}